*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
    background: url(back1.jpg);
    background-size: cover;
}
/*Index Page*/

.navofindex{
    display:flex;
    width: 90%;
    margin: auto;
    padding: 0 0;
    align-items:center;
    justify-content: space-between;
}
@media (max-width:1300px){
    .navofindex ul{
        display: flex;
        position: absolute;
        top: -500px;
        left: 0;
        right : 0;
        flex-direction: column;
        background:rgba(184,151,84,1);
        text-align: left;
        transition: all 0.4s ease;
        z-index: 1;
    }
    .navofindex a{
        display: block;
        padding: 0.2rem;
        margin: 0.5rem;
        border-left: 3px solid black;
    }
    
    .navofindex ul.open{
        top: 10vh;
    }
}
@media (max-width:600px){
    .imglogo{
        margin-left:-5%;
        height: 80%;
        width: 80%;
    }
}
.menu{
    font-size: 2.5em;
    cursor: pointer;
}
@media (min-width:1300px){
    .menu{
        display:none;
    }
}
.navofindex ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.navofindex ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.navofindex ul li a:hover{
    color: darkgoldenrod;
    text-decoration-line: underline;
    text-underline-offset: 0.7rem;
    transition: 0.3s;
}
.detel{
    margin-left: 10%;
    margin-top: 15%;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
.Hij{
    color: rgba(184,151,84,1);
}
.detel p {
    color: #555;
    line-height: 22px;
}
.detel a{
    background: #212121;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    margin: 20px 0;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.9;
}
.container{
    display: grid;
    grid-template-columns:  auto 40% ;


}
.Image {

    margin-top: 5%;
}
.Image img{
    height: 400px;

}
@media (max-width:1000px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .Image{
        margin: 0 auto;

    }
}

.Image img{
    border-radius: 10%;

}

footer{
    position: fixed;
    bottom: 0;
    height: 38px;
    margin-top: 0;
    min-width: 100%;
    /*background-color: rgba(158,115,54,1);*/
    background-color: rgba(184,151,84,1);
}

.navoffooter{
    text-align: center;
}
.navoffooter ul li {
    display: inline-block;
    align-items: center;
    list-style: none;
    margin: auto 30px;
    padding-top: 6px;
    font-size: 1.7em;
}
.navoffooter ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.navoffooter ul li a:hover{
    color: darkgoldenrod;
    transition: 0.3s;
}

/*EDUCATION PAGEEE*//*
.viewcert a{
    background: #212121;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    margin: 5px 250px;
    border-radius: 5px;    
}
.container2{
    display: grid;
    grid-template-columns:  auto auto ;
    min-height: 75vh;   
}
@media (max-width:1000px){
    .container2{
        display: flex;
        flex-direction: column;
    }
}
.Master{

    padding-left: 5%;
    padding-top: 5%;
  }
  .gradicon{
    font-size: 1.5em;
  }
.Master ul li {
    display:inline-block;
    list-style: none;
    margin: 0 10px;
}
.year{
    padding-left: 14%;
    text-align: justify;
}
*/
/*ABOUT PAGE*/
#About{
    margin-top: 1%;
    text-align: center;
    font-size: 25px;
}
.divofabout{
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    text-align: justify;
    text-align-last: center;
    min-height: 52vh;
    line-height: 35px;
  }

/*Skills2*/

.skills_section{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_main{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
@media (max-width:1000px){
    .skills_main{
        display: flex;
        flex-direction: column;
    }

}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: darkgoldenrod;
    border-radius: 25px;
}
.skill_bar .bar .ANSYS{
    width: 90%;
    animation: ANSYS 2s;
}
@keyframes ANSYS {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .MATLAB{
    width: 85%;
    animation: MATLAB 2s;
}
@keyframes MATLAB {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .SolidWorks{
    width: 85%;
    animation: SolidWorks 2s;
}
@keyframes SolidWorks {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .Python{
    width: 70%;
    animation: Python 2s;
}
@keyframes Python {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .Java{
    width: 65%;
    animation: Java 2s;
}
@keyframes Java {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .Cpp{
    width: 70%;
    animation: Cpp 2s;
}
@keyframes Cpp {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .LabVIEW{
    width: 65%;
    animation: LabVIEW 2s;
}
@keyframes LabVIEW {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .AutoCAD{
    width: 70%;
    animation: AutoCAD 2s;
}
@keyframes AutoCAD {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .HTML{
    width: 70%;
    animation: HTML 2s;
}
@keyframes HTML {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .CSS{
    width: 70%;
    animation: CSS 2s;
}
@keyframes CSS {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .SpaceClaim{
    width: 70%;
    animation: SpaceClaim 2s;
}
@keyframes SpaceClaim {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .DesignModeller {
    width: 60%;
    animation: DesignModeller 2s;
}
@keyframes DesignModeller {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}

/*Contact Page */
.container5{
    min-height: 75vh;
}


/*EDUCATION PAGEEE*/
.viewcert a{
    background: #212121;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    display: inline-block;

    border-radius: 5px;    
}
.container2{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    text-align: center;
    line-height: 25px;
    justify-content: center;
    /*
    display: flex;
    min-height: 80vh; 
    text-align: center;
    justify-content: center;  */
}
@media (max-width:1000px){
    .container2{
        display: flex;
        flex-direction: column;
    }
}
.Master{
    padding-top: 25px;

  }
  .gradicon{
    font-size: 1rem;
  }
.Master ul li {
    display:inline-block;
    list-style: none;
}
.Text{
    text-align: center;
}


/*Projects PAge*/
.container4{
    min-height: 75vh;
}
